@import './reset.less';
@import './utils.less';

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px;
    background: #fff;
    font-size: 14px;
    color: #444;
    .header {
        height: 120px;
        border-bottom: 1px solid #ddd;
        color: #555;
        .title {
            height: 100px;
            line-height: 100px;
        }
        a {
            display: block;
        }
        .logo {
            background: url(~@assets/img/logo.png) no-repeat;
            display: inline-block;
            width: 93px;
            height: 93px;
        }
        .sub {
            color: #999;
        }
    }
    .content {
        min-height: 600px;
        width: 1000px;
        margin: 0 auto;
    }
    .footer {
        height: 100px;
        text-align: center;
        padding: 20px 0;
    }
}
