@import './reset.less';

.wrapper {
    background:#fff;
    font-size:12px;
    color:#000;
    .header {
        height:64px;
        .logo {
            background: #f1e179 url(~@assets/img/logo.png) no-repeat;
            display: inline-block;
            width: 100px;
            height: 100px;
            background-size:100px;
            border-radius: 50%;
        }
    }
    .content {
        min-height:600px;
        width:1000px;
        margin:0 auto;
    }
    .footer {
        height:100px;
        text-align:center;
        padding:20px 0;
    }
}
